body {
    background-color: #F2F3AE;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.pizza{
    /* box-model */
    border: 1px solid #DB504A;
    padding: 1em;
    margin: 1em;
    /* margin-left: 8em; */ 
    margin-bottom: 0.5em; 
    border-radius: 1em;

    /* use display: inline-block */
    /*[width: 20em;
    display: inline-block;
     min-height: 38em;*/
}
.medium_pizza {
    background-color: #FC9E4F;
    flex:2;
}
.large_pizza{
    background-color: #FF521B;
    flex: 3;
}
.small_pizza {
background-color: #E7BB41  ;
flex:1;
}
.contact_us{
background-color: #8AC926;
}

@media (min-width: 768px) {
    /* apply this css if the page is wider than 768px */ body {
    background-color: #FFD3DA;
    }
 
@media (min-width: 968px) {
    /* apply this css if the page is wider than 968px */
    body {
 background-color: #EEF4ED;
}
.pizzas{
    display: flex;
}
}
} 